<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/css/all.min.css" />
    <script src="~/ckeditor/ckeditor.js"></script>

    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-1 d-none d-md-block bg-light sidebar">
               @await Component.InvokeAsync("AdminCategoryComponent")
            </nav>
            <div class="col-md-11 ml-sm-auto pt-3 px-4">
                @RenderBody()
            </div>
        </div>


    </div>



    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)
</body>
</html>
