@using Microsoft.AspNetCore.Identity
@using NewsSiteVersion2.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right d-inline">
        <nav class="nav row">
            <button type="button" style="margin-right:5px" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                News list
            </button>
            <a style="margin-top:7px" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">  Hello @UserManager.GetUserName(User) ! </a>
            <input type="submit" class="btn btn-link navbar-btn navbar-link" value="Logout" />
        </nav>

    </form>
}
else
{
    <nav class="nav d-flex float-right">
        <button type="button" style="margin-right:5px" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            News list
        </button>
        <a asp-area="Identity" class="btn btn-primary ml-2" asp-page="/Account/Register">Register</a>
        <a asp-area="Identity" class="btn btn-success ml-2" asp-page="/Account/Login">Login</a>
    </nav>

}