
@{
    ViewData["Title"] = "Edit";
}

@model NewsSiteVersion2.Models.UserManagement.EditUserModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit User</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Surname" class="control-label"></label>
                <input asp-for="User.Surname" class="form-control" />
                <span asp-validation-for="User.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Roles" class="control-label"></label>
                <select asp-for="Role.Name" class="form-control" asp-items="Model.Roles"></select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


